<!DOCTYPE html>
<html>
    <head>
        <title>DraWit</title>
        <link href="style.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h1>Dra<span id="wTitle">W</span>it</h1>
        <div id="menuWrap">
            <ul id="menu">
                <li class="menuItem"><a href= "main.html">Draw</a></li>
                <li class="menuItem"><a href= "share.html">Share</a></li>
                <li class="menuItem"><a href= "instruction.html">Instructions</a></li>
                <li class="menuItem" style="float:right"><a href= "account.html">Account</a></li>
            </ul>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="mx-auto"><img class="introImg" src="images/shareSymbol.jpg" alt="A share symbol" width ="300px"></div>
            </div>
            <div class="row">
                <div class="mx-auto">The Share function will be implemented in DraWit version 2.0 (byowa).</div>
            </div>
        </div>
    </body>
</html>